#play-again {
    display: none;
}

.center {
    text-align: center;
}

#heading {
    padding-bottom: 50px;
}

#button {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

#game{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#score {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
}

#game-over {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-weight: bold;

}